@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,400&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: 0;
}

body {
  font: 400 16px 'Roboto', sans-serif;
}

.input-group:focus, input[type="search"]:focus {
  outline: 0;
}